OSP
Ryujinx
SalSoft
Thunar
autostart
cmst
dconf
evolution/sources
geeqie
go/telemetry/local
gops
gtk-2.0
gtk-3.0
lazygit
lvim
menus/applications-merged
pulse
qt5ct
session
systemd/user
typon/quotes
vlc
xfce4/xfconf/xfce-perchannel-xml
