OSP
Ryujinx
SalSoft
Thunar
autostart
cmst
dconf
evolution/sources
geeqie
go/telemetry/local
gops
gtk-2.0
gtk-3.0
lazygit
lvim
menus/applications-merged
pulse
qt5ct
session
systemd/user
typon/quotes
vlc
xfce4/xfconf/xfce-perchannel-xml
GIMP/2.10
RStudio
background
discord
dunst
environment.d
ghc
gtk-4.0
obsidian
rstudio
sops/age
spotify
spotify-player
zellij
.gsd-keyboard.settings-ported
QtProject.conf
background.png
gnome-initial-setup-done
mimeapps.list
recovery.txt
user-dirs.dirs
user-dirs.locale
nushell/history.txt
tmux/plugins
tmux/plugins
yazi
BraveSoftware/Brave-Browser
LosslessCut
Todoist
Vieb
chromium
ghb
inkscape
kando
libreoffice/4/user
scribus
termvisage
transmission
FreeTube
Signal
audacity
clara-verse
deezer-enhanced
git
htop
itch
libfm
nixpkgs
tealdeer
